# Python cache
__pycache__/
*.py[cod]

# Sanal ortam
venv/

# Ortam değişkenleri
.env

# IDE klasörleri
.vscode/
.idea/

# Sistem dosyaları
.DS_Store
Thumbs.db

# FAISS index ve geçici dosyalar
*.faiss
*.pkl
*.log
*.tmp
*.bak
*.swp
