# Python cache
__pycache__/
*.py[cod]
*.so

# Sanal ortam
venv/
.env

# IDE dosyaları
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Veri dosyaları
*.csv
*.xlsx

# FAISS, modeller, index dosyaları
*.faiss
*.gguf
*.pkl

# Log dosyaları
*.log

# Çıktı ve geçici klasörler
*.bak
*.tmp
*.swp
