# Python cache
__pycache__/
*.py[cod]

# Sanal ortam
venv/

# Ortam değişkenleri
.env

# IDE klasörleri
.vscode/
.idea/

# Sistem dosyaları
.DS_Store
Thumbs.db

# Model ve FAISS index dosyaları
*.faiss
*.gguf
*.pkl

# Geçici dosyalar
*.log
*.tmp
*.bak
*.swp
